<h1>About Us</h1> 

<p> 
    The Company was estd . in 1989 in an Italian Town. The use of best quality <br>
    dough to make our pizzas and freshly chopped vegetable toppings is the moto<br> of our stores. 
    contact for feedbacks  on "feedback@pominos.com"<br>
    for store enquiries and business opportunities email us at
    "business@pominos.com"

</p>