@{
  
var db = Database.Open("Crust"); 
var selectQueryString = "SELECT * FROM Crusts ORDER BY Price"; 
}
<html> 
    <body> 
<h1>Crust O' Choice</h1> 
<table> 
<tr>
<th>Crust Type</th> 
<th>Description</th> 
<th>Price</th> 
</tr>
@foreach(var row in db.Query(selectQueryString))
{
<tr> 
<td align="left">@row.CrustType</td> 
<td align="right">@row.Description</td> 
<td align="right">@row.Price</td> 
</tr> 
}
</table> 
        <br>
        <br><br>
</body> 
</html>