<h1>Welcome to Us</h1> 

<p>
It is always wonderful to treat your family on special occasions. <br> 
    while we at Pominos are comitted to make your every moment as special as <br>
    any occasion. 
</p>
<br>
<br>
<p>
Try our new and delicious cheese pizza. Take a look at our menu card to <br>
treat your tastebuds with a pizza that bleeds <i> <strong>Cheese</strong> </i></p>