@{
    var db= Database.Open("Order");
    var ID=0;
    var id= "";
    var email="";
        var selectQueryString = "SELECT * FROM Orders ORDER by ID";
    if(IsPost)
    {
        id= Request.Form["ID"];
        ID=id.AsInt();
        email = Request.Form["email"];
         foreach( var row in db.Query(selectQueryString))
            {
                if(row.Id == ID && row.Email == email)
                {

               <p> Your Order Status : @row.OrderStat      as on  @DateTime.Now</p>
             
                 }
           }
     }

     }

<form method="post" action="">
    <fieldset>
<label>Order ID: </label>
       <input type ="text" id="ID" name="ID">
    <label>Email :</label>
       <input type ="text" id="email" name="email">
       <label>SUBMIT </label>
       <input type ="submit" id="submit" name="Submit">


        </fieldset>
</form>