@{ //Checks for Security Credentials given to user
    if (!WebSecurity.IsAuthenticated)
{
Response.Redirect("~/Account/Login");
}  
// Initialization of various variables
    var email = "";
    var adder ="";
    var OrderID ="";
    var CrustType1="";
    var CrustType2="";
    var PizzaType1="";
    var PizzaType2= "";
    var Qty1 ="";
    var Qty2 ="";
    var Qty3 = "";
    var Quantity1=0;
    var Quantity2 = 0;
    var misc = "";
    var mqty=0;
    decimal price= 0;
    decimal price1=0;
    

    if(IsPost)
    {
        email = Request.Form["email"];
        PizzaType1 = Request.Form["PizzaType1"];
        if (email == "" && PizzaType1 == "")
        {
            Response.Redirect("/Order");
        }
        PizzaType2 = Request.Form["PizzaType2"];
        CrustType1 = Request.Form["CrustType1"];
        CrustType2 = Request.Form["CrustType2"];
        Qty1= Request.Form["Quantity1"];
        Qty2 = Request.Form["Quantity2"];
        Qty3 = Request.Form["mqty"];
        var db= Database.Open("Pominos"); 
        var selectQueryString = "SELECT * FROM Product ORDER BY Price"; 
        foreach(var row in db.Query(selectQueryString))
        {
            if(Qty1 == "1"){Quantity1=1;}
            if(Qty1 == "2"){Quantity1 =2;}
            if(Qty1 == "3"){Quantity1 =3;}
            if(Qty1 == "4") {Quantity1 =4;}
            if(Qty2 != "")
            {
            if(Qty2 == "1"){Quantity2=1;}
            if(Qty2 == "2"){Quantity2 =2;}
            if(Qty2 == "3"){Quantity2 =3;}
            if(Qty2 == "4") {Quantity2 =4;}
            }
            if(Qty3 != "")
            {
            if(Qty3 == "1"){mqty=1;}
            if(Qty3 == "2"){mqty =2;}
            if(Qty3 == "3"){mqty =3;}
            if(Qty3 == "4") {mqty =4;}
            }

            if( row.Name == PizzaType1)
            { price= (price) + (Quantity1 *(row.Price));}
            if( row.Name == PizzaType2)
            { price= (price) + (Quantity2 *(row.Price));}
            var db2 = Database.Open("Crust");
            var selectQueryString2 = "SELECT * FROM Crusts ORDER by Price";
            foreach( var row2 in db2.Query(selectQueryString2))
            {
                if(row2.CrustType == CrustType1)
                { price = price +(Quantity1* row2.price);}
                if(row2.CrustType == CrustType2)
                { price = price +(Quantity2* row2.price);}
            }
             var db3 = Database.Open("Misc");
            var selectQueryString3 = "SELECT * FROM Miscs ORDER by Cost";
            foreach( var row3 in db3.Query(selectQueryString3))
            {
                if(row3.Name == misc)
                { price = price +(mqty* row3.Cost);}
            }
        }
   
    var db1= Database.Open("Order");
    db1.Execute("INSERT INTO Orders (Email, PizzaType1,PizzaType2, CrustType1, CrustType2, Quantity1, Quantity2, misc, mqty, price, date,OrderStat) VALUES (@0,@1,@2,@3,@4,@5,@6,@7,@8,@9,@10,@11) ", email, PizzaType1, PizzaType2, CrustType1, CrustType2, Quantity1, Quantity2, misc, mqty, price, @DateTime.Now, "Order In Progress");
    Response.Redirect("printOrder.php");

    }
    }
    
   
        
        <form method="post" action="printOrder.php">
    
        <fieldset>
        <legend> <h1>Order Form</h1></legend>
            <label>Email: </label>
       <input type ="text" id="email" name="email">
       
           
       
    
                    <label>Pizza Type:</label>
    <select name="PizzaType1" id="PizzaType1">
<option></option>
<option>Cheese Pizza</option>
<option>Veggie Magic</option>
<option>Basic Pizza</option>
<option>Veggie Delight</option>
<option>Country Delight- Veg</option>
<option>NonVeg Delight</option>
<option>Country Delight- NV</option>
</select>
            <label> Crust type:</label>
            <select name="CrustType1">
<option>Normal</option>
<option>Cheese Bleeder</option>
<option>Thin Crust</option>
<option>Deep Dish</option>
</select>
            <label> Quantity:</label>
            <select name="Quantity1">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
</select>
             <label> Price</label>
    
            
                    <label>Pizza Type:</label>
    <select name="PizzaType2">
<option></option>
<option>Cheese Pizza</option>
<option>Veggie Magic</option>
<option>Basic Pizza</option>
<option>Veggie Delight</option>
<option>Country Delight- Veg</option>
<option>NonVeg Delight</option>
<option>Country Delight- NV</option>
</select>
               <label> Crust type:</label>
   <select name="CrustType2">
<option></option>
<option>Normal</option>
<option>Cheese Bleeder</option>
<option>Thin Crust</option>
<option>Deep Dish</option>
</select>
            <label> Quantity:</label>
    <select name="Quantity2">
        <option></option>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
</select>
            <label> Price</label>
   
    <label>Misc Item</label>
    <select name="misc">
<option></option>
<option>Coke Cola</option>
<option>Fanta</option>
<option>Sprite</option>
<option>Thums Up</option>
<option>Cheesy Dip</option>
<option>Tortilla Wrap</option>
<option>Tortilla Wrap- NonVeg</option>
        <option>Chicken Wings</option>
</select>
              <label>Quantity</label>
<select name="mqty">
<option></option>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
</select>
    
            <label>Price</label>
    
    <p><input type="submit" value="Order Now" /></p>
    
            </ol>
            </fieldset></form>
<br><br><br>
