@{
    var a=100;
    var Choice="";

var imagePath=""; 
if( Request["Choice"] != null)
   {imagePath= imagePath + Request["Choice"];} 
} 
<!DOCTYPE html> 
<html> 
<body> 
    

<h1>Order Form</h1> 
<form method="post" action=""> 
I want to Order: 
<select name="Choice"> 
   <option>Cheese Pizza</option> 
   <option>Veggie Magic</option> 
   <option>Basic Pizza</option> 
    <option>Veggie Delight</option>
    <option>Country Delight-Veg</option>
    <option>Non Veg Delight</option>
    <option>Country Delignt-NV</option>  
    <option>Cheesy Dips</option>  
    <option>Beverage</option>  
    <option>Tortilla Wrap-Veg</option>
    <option>Tortilla Wrap-NV</option>  
    <option>Chicken Wings</option>  

</select> 
<input type="submit" value="Submit"> </form>
    <script type="text/vbscript">
       var b= CInt(Choice)
       a= a + b
        document.write((CInt("300") + a) & "<br />")
        document.write(a & "<br />")
        document.write(CInt(Choice) & "<br />")

</script>
    @if(Choice=="Cheese Pizza")
    {
        <form action="http://localhost/PHPPage.php" method="post">
        Chilled :
        <select name=" Drink">
        <option value="1">Coke Cola</option>
        <option value="2">Fanta</option>
        <option value="3">Sprite</option>
        <option value="4">Thums Up</option>
        </select><input type=" submit" value="Submit"</form>
    }
@if(imagePath != "" && (imagePath=="299" || imagePath=="499" || imagePath=="599" ||imagePath=="699" || imagePath== "799"))
{
    <form action="http://localhost/PHPPage.php" method="post">
      
My Crust must be : 
<select name="Crust"> 
   <option value="0">Normal</option> 
   <option value="50">Thin Crust</option> 
   <option value="70">Deep Dish</option> 
    <option value="100">Cheese Bleeder</option>
    </select> 
and I want :
<select name="Quantity">
        <option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
</select>
           pizza/pizzas
<input type="submit" value=" Submit"></form>

<p>BINGO</p>

}  

</body> 
</html>