@{
  
var db = Database.Open("Order"); 
var selectQueryString = "SELECT * FROM Orders ORDER BY date"; 
}
<html> 
    <body> 
<h1>Thank You For Ordering</h1> 
<table> 
<tr>
<th>Order ID</th> 
<th>Price</th> 
<th>Email</th> 
</tr>
var row in db.Query(selectQueryString)

<tr> 
<td>CrustType</td> 
<td>Description</td> 
<td >Price</td> 
</tr> 

</table> 
        <br>
        <br><br>
</body> 
</html>