@{
   
    var db= Database.Open("Order");
    Database.Execute("INSERT INTO Order (Pizza1)  VALUES ",PizzaType1);
}

<!DOCTYPE html>

<html lang="en">
    <head>
        
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
