<!DOCTYPE html>
<html> 
<head> 
<link rel="stylesheet" type="text/css" href="/Shared/Site.css" />
</head>
<body> 

<ul id="menu">
<li><a href="/Default">Home</a></li> 
<li><a href="/ListProducts">Our Menu</a></li> 
<li><a href="/CrustChoice">Crust Choice</a></li>
<li><a href="/Misc">Misc</a></li>
<li><a href="/Account/Register">Register</a></li>
<li><a href="/Account/Login">Login</a></li>
<li><a href="/Order2">Order Form</a></li>
<li><a href="/About">About Us</a></li>
<li><a href="/Account/Logout">Logout</a></li>
<li><a href="/OrderStatus"> Order Status</a></li>
</ul> 

<div id="main"> 
@RenderBody() 
<p>&copy; 2012 Pominos Pizza . All rights reserved.</p> 
</div> 

</body> 
</html>